* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #555;
}
img {
  width: 50px;
  height: 50px;
}
table {
  display: block;
  border-collapse: collapse;
}
ul {
  list-style: none;
}

/* 去掉滚动条 */
::-webkit-scrollbar {
  display: none;
}

body {
  color: rgba(0, 0, 0, .65);
  font-size: 14px;
  font-family: "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",Arial,sans-serif;
}
