<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>timings demo</title>
    <link rel="stylesheet" href="./libs/css/reset.css">
    <link rel="stylesheet" href="./libs/css/master.css">
    <script src="./libs/js/noMod/mod.js" charset="utf-8"></script>
  </head>
  <body>
    <div id="app" class="flex-column">
      <header class="header flex-row flex-h-between flex-v-center">
        <span class="header__title">前端性能数据平台</span>
        <nav></nav>
      </header>
      <main class="main-wrap flex-row">
        <section class="main-menu">
          <ul class="main-menu__list">
            <li class="main-menu__item">全局预览</li>
            <li class="main-menu__item main-menu__item--selected">性能统计</li>
            <li class="main-menu__item">资源统计</li>
            <li class="main-menu__item main-menu__group">
              <p class="main-menu__group-title">定位分析</p>
              <ul class="main-menu__list main-menu__group-list">
                <li class="main-menu__item main-menu__group-item">白屏时间</li>
                <li class="main-menu__item main-menu__group-item">首屏时间</li>
              </ul>
            </li>
            <li class="main-menu__item">浏览器</li>
            <li class="main-menu__item">版本分析</li>
            <li class="main-menu__item">网络环境</li>
            <li class="main-menu__item">错误跟踪</li>
            <li class="main-menu__item">任务调度</li>
            <li class="main-menu__item">站点管理</li>
          </ul>
        </section>
        <section class="main-content flex-full-space">
            <div class="timeline__date">
              <label class="timeline__date-label flex-row">
                <span>选择日志时间：</span>
                <input type="text" class="timeline__input" v-model="date">
              </label>
            </div>

            <!--时间轴-->
            <div class="timeline__wrap">
              <p class="timeline__title">页面加载时间轴</p>
              <div class="timeline__count">
                平均总加载时间：{{average_time}}
              </div>
              <table class="timeline__table">
                <tr class="timeline__tr timeline__head">
                  <td class="timeline__td" v-for="title in titles">{{title}}</td>
                </tr>
                <tr class="timeline__tr" v-for="(timing, index) in durations" @click="handleClick(index)">
                  <td class="timeline__td" v-for="(data, name) in timing.timeline">{{data}}</td>
                </tr>
              </table>
            </div>

            <!--瀑布流-->
            <div class="waterfall-wrap">
              <ul class="waterfall__list">
                <li class="waterfall__item" v-for="(data, name) in activityTiming">
                  <span class="waterfall__title">{{titles[name]}}</span>
                  <span class="waterfall__length" :style="'width:' + (data / 2) + 'px;'">{{data}}</span>
                </li>
              </ul>
            </div>
        </section>
      </main>
      <footer class="footer flex-row flex-h-between">
        <div class="footer__left">
          git地址
        </div>
        <div class="footer__center">
          参考文档
        </div>
        <div class="footer_right">
          icp
        </div>
      </footer>
    </div>
    <script type="text/javascript">
      require(['./index.js']); //异步加载index.js模块
    </script>
  </body>
</html>
